.suffix {
    position: absolute;
    top: 50%;
    right: 10px;
    color: rgba(0, 0, 0, .25);
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}

.suffix[data-isshow='true'] {
    opacity: 1;
    pointer-events: unset;
}