/* 전역 box-sizing 설정 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dovemayo_gothic';
}

@font-face {
  font-family: 'Dovemayo_gothic';
  src: url('../fonts/Dovemayo_gothic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}