.layout {
    margin: 30px;
    width: calc(100dvw - 60px);
    max-width: 932px;
    height: calc(100dvh - 60px);
    display: flex;
    flex-direction: column;
    position: relative;
}

:is(.fadeinHeader, .fadeinMain, .fadeinTour, .fadeinSearch) {
    opacity: 0;
    animation: fadein 0.75s ease;
    animation-fill-mode: forwards;
}

.fadeinHeader {
    width: 40%;
    max-width: 486px;
    animation-delay: 0.5s;
}

.fadeinMain {
    width: 100%;
    max-width: 932px;
    animation-delay: 1s;
}

.fadeinTour {
    animation-delay: 1.5s;
}

.fadeinSearch {
    animation-delay: 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
        transform: translateX(-120%);
    }

    to {
        opacity: 1  ;
        transform: translateX(0);
    }
}